.driver-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  overflow: hidden;
  width: 330px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
}
.driver-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.driver-card-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.driver-card-content {
  padding: 16px;
}

.driver-card-content h3 {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}

.category {
  background: #f3f6ff;
  color: #3b49ff;
  padding: 2px 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 4px;
}

.company {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #777;
  margin-bottom: 12px;
}

.price {
  color: green;
  font-weight: 600;
}

.apply-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
